doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://cdn.static.runoob.com/libs/foundation/5.5.3/css/foundation.min.css')
    script(src='http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js')
    script(src='http://cdn.static.runoob.com/libs/foundation/5.5.3/js/foundation.min.js')
    script(src='http://cdn.static.runoob.com/libs/foundation/5.5.3/js/vendor/modernizr.js')
  body
  	// Nav, panel ...
    block content
